<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<div layout:fragment="contents" class="content-wrapper">


  <h1>상품페이지</h1>





  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">

            <div class="box-body">
              <div sec:authorize="isAuthenticated()" style="float: right;">
                <button type="button" class="btn btn-primary" onclick="location.href='/item/save';">상품등록</button>
                <br>
              </div>
              <br>


              <table class="table table-bordered table-striped data-table">

                <thead>
                  <tr>
                    <th class="text-center col-md-1" style="width: 5%;">번호</th>
                    <th class="text-center col-md-2" style="width: 10%;">상품명</th>
                    <th class="text-center col-md-2">금액</th>
                    <th class="text-center col-md-2">재고수량</th>
<!--                    <th class="text-center col-md-2">미리보기</th>-->
                  </tr>
                </thead>

                <tbody>
                  <tr th:each="item, index : ${page.content}" class="topBoardColor trdata">
                    <td th:text="${index.index+1}"></td>
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemPrice}"></td>
                    <td th:text="${item.itemStockCnt}"></td>
<!--                    <td><img th:src="${item.imageUrl}" style="width: 50px; height: 50px;"></td>-->
                  </tr>
                </tbody>

              </table>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</html>
